body {
  font-family: 'Noto Sans TC', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

body a:hover {
  text-decoration: none;
}

body .fp-navtop {
  background: #ffffff;
}

body .fp-navtop .fp-navtop-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  min-height: 125px;
}

body .fp-navtop .fp-navtop-wrapper .fp-fubon-logo {
  max-width: 250px;
}

body .fp-nav-mobile {
  width: 100%;
}

body .fp-nav-mobile .fp-fubon-logo {
  max-width: 120px;
  height: 100%;
}

body .fp-nav-mobile .fp-fubon-puff {
  max-width: 180px;
  height: 100%;
}

body .fp-nav-mobile-collapse .fp-navbar-item {
  display: block;
  padding: 10px 20px;
  color: #FF0A80;
  background: #fefefe;
  border-bottom: 1px solid #dddddd;
  text-decoration: none;
}

body .fp-nav-mobile-collapse .fp-fubon-logo {
  max-width: 190px;
  padding: 20px;
}

body .fp-maintop {
  min-height: 885px;
  background: url("../img/bg/bg001.png");
  background-position: center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .fp-maintop {
    min-height: 770px;
    background-position: right top;
    background: url("../img/bg/bg-m.png");
  }
}

body .fp-maintop.fp-maintop-inner {
  background: url("../img/bg/bg009.png");
  min-height: 710px;
  background-size: cover;
}

@media (max-width: 992px) {
  body .fp-maintop.fp-maintop-inner {
    min-height: 770px;
    background-position: right top;
    background: url("../img/bg/bg-m.png");
  }
}

body .fp-title-sub {
  color: #FF0A80;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: justify;
  letter-spacing: 12px;
}

@media (max-width: 992px) {
  body .fp-title-sub {
    font-size: 24px;
    letter-spacing: 10px;
  }
}

body .fp-title-main {
  color: #ffffff;
  font-size: 75px;
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  body .fp-title-main {
    font-size: 40px;
  }
}

body .fp-title-name {
  color: #00C2A3;
  font-size: 34px;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  body .fp-title-name {
    font-size: 25px;
  }
}

body .fp-title-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 200;
  line-height: 45px;
  margin-bottom: 0px;
}

@media (max-width: 992px) {
  body .fp-title-text {
    font-size: 20px;
    line-height: 32px;
  }
}

body .fp-title-text-line {
  color: #519633;
  margin-left: 10px;
  cursor: pointer;
}

body .fp-title-text-line img {
  margin-right: 10px;
}

body .fp-title-text-fb {
  color: #2995CC;
  margin-left: 10px;
  cursor: pointer;
}

body .fp-title-text-fb img {
  margin-right: 10px;
}

body .fp-list {
  list-style: none;
  padding: 0;
  margin-top: 35px;
}

body .fp-list-item {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  display: block;
  max-width: 260px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 10, 128, 0)), to(#ff0a80));
  background: linear-gradient(270deg, rgba(255, 10, 128, 0) 0%, #ff0a80 100%);
  margin: 10px 0;
  padding: 5px 20px;
}

body .fp-list-item a {
  color: #ffffff;
}

body .fp-navbar {
  background: #FF0A80;
}

body .fp-navbar .fp-navbar-item {
  color: #333333;
  font-size: 28px;
  padding: 18px 36px;
  border-right: 2px solid #333333;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

body .fp-navbar .fp-navbar-item:hover {
  text-decoration: none;
  background: #ff3194;
}

body .fp-navbar .fp-navbar-item.active {
  color: #ffffff;
}

body .fp-navbar .fp-navbar-item:last-child {
  border-right: none;
}

body .fp-footer {
  padding: 30px 0 0;
  background: url("../img/bg/bg003.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  body .fp-footer {
    padding: 50px 0;
  }
}

body .fp-footer .fp-footer-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

body .fp-footer .fp-footer-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 760px;
  display: block;
  background: url("../img/img/img-004.png");
}

@media (max-width: 1024px) {
  body .fp-footer .fp-footer-wrapper::after {
    left: -65px;
    width: 700px;
    height: 690px;
  }
}

@media (max-width: 992px) {
  body .fp-footer .fp-footer-wrapper::after {
    display: none;
  }
}

body .fp-copyright {
  background: #ff3194;
}

body .fp-copyright-text {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 0;
  padding: 15px;
}

body .fp-block {
  padding: 60px 0;
}

body .fp-block.fp-bg-1 {
  min-height: 1000px;
  background: url("../img/bg/bg002.png");
  background-position: center bottom;
  background-size: cover;
}

@media (max-width: 992px) {
  body .fp-block.fp-bg-1 {
    min-height: auto;
    background: url("../img/bg/bg004.png");
  }
}

body .fp-block.fp-bg-2 {
  padding: 30px 0;
  background-color: #212845;
}

body .fp-block.fp-bg-2 .row {
  min-height: 550px;
}

body .fp-block.fp-bg-2 .fp-img-003 {
  position: relative;
}

body .fp-block.fp-bg-2 .fp-img-003::after {
  content: "";
  position: absolute;
  top: 0;
  left: -45%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  width: 830px;
  height: 704px;
  display: block;
  background: url("../img/img/img-003.png");
}

@media (max-width: 768px) {
  body .fp-block.fp-bg-2 .fp-img-003::after {
    display: none;
  }
}

body .fp-block.fp-bg-3 {
  background-color: #ebeaeb;
}

body .fp-block.fp-bg-4 {
  background: url("../img/bg/bg004.png");
  padding-bottom: 100px;
}

body .fp-block.fp-bg-5 {
  background: url("../img/bg/bg007.png");
  background-size: cover;
  padding: 100px 0 150px;
}

@media (max-width: 992px) {
  body .fp-block.fp-bg-5 {
    padding: 60px 0;
  }
}

body .fp-block.fp-bg-8 {
  background: url("../img/bg/bg008.png");
  padding-bottom: 160px;
}

body .fp-bg-6 {
  background: #b6b6b64d;
}

body .fp-bg-7 {
  background: #2995cc63;
}

body .fp-ring-wrapper {
  max-width: 1500px;
  margin: 50px auto;
}

@media (max-width: 1024px) {
  body .fp-ring-wrapper {
    max-width: 700px;
    margin: 19px auto;
  }
}

body .fp-ring-wrapper .fp-ring-item {
  width: 200px;
  height: 200px;
  background: #ffffff;
  border: 4px solid #FF0A80;
  border-radius: 99rem;
  font-size: 34px;
  font-weight: 600;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  body .fp-ring-wrapper .fp-ring-item {
    width: 180px;
    height: 180px;
    font-size: 22px;
    margin: 10px;
  }
}

body .fp-plat-title {
  color: #FF0A80;
  font-size: 60px;
  margin-bottom: 0;
  margin: 0 20px;
}

@media (max-width: 992px) {
  body .fp-plat-title {
    font-size: 32px;
    margin: 0 10px;
  }
}

body .fp-plat-icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .fp-plat-text {
  font-size: 24px;
  color: #333333;
  line-height: 40px;
  margin: 10px 0;
}

@media (max-width: 992px) {
  body .fp-plat-text {
    font-size: 18px;
    line-height: 30px;
  }
}

body .fp-plat-list-text {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 12px;
}

@media (max-width: 992px) {
  body .fp-plat-list-text {
    font-size: 18px;
    line-height: 30px;
  }
}

body .fp-plat-list-text p {
  font-weight: 500;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  body .fp-plat-list-text p {
    font-size: 18px;
    line-height: 30px;
  }
}

body .fp-plat-img {
  width: 100%;
}

@media (max-width: 992px) {
  body .fp-plat-img {
    margin-bottom: 20px;
  }
}

body .fp-plat-list-icon {
  margin-right: 20px;
}

@media (max-width: 992px) {
  body .fp-plat-list-icon {
    margin: 20px;
  }
}

body .fp-plat-list-icon-text {
  font-size: 20px;
  font-weight: 300;
}

body .fp-plat-list-icon-text p {
  font-weight: 500;
}

body .fp-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 3px solid #FF0A80;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

body .fp-button p {
  font-size: 24px;
  color: #FF0A80;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

body .fp-button div:first-child {
  min-width: 24px;
  height: 20px;
  background: no-repeat url(../img/icon/arrow-pink.svg);
  margin-right: 13px;
}

body .fp-button div:last-child {
  min-width: 26px;
  height: 25px;
  background: no-repeat url(../img/icon/line_pink.svg);
  margin-left: 11px;
}

body .fp-button:hover {
  background: #519633;
  border-color: #519633;
}

body .fp-button:hover p {
  margin-bottom: 0px;
  color: #ffffff;
}

body .fp-button:hover div:first-child {
  min-width: 24px;
  height: 20px;
  background: no-repeat url(../img/icon/arrow-white.svg);
  margin-right: 13px;
}

body .fp-button:hover div:last-child {
  min-width: 26px;
  height: 25px;
  background: no-repeat url(../img/icon/line_white.svg);
  margin-left: 11px;
}

body .fp-button-1 {
  padding: 5px 25px;
  border: 1px solid #FF0A80;
  border-radius: 99rem;
  color: #FF0A80;
  font-size: 24px;
}

@media (max-width: 992px) {
  body .fp-button-1 {
    font-size: 18px;
  }
}

body .fp-button-1:hover {
  background: #FF0A80;
  color: #ffffff;
}

body .fp-text-blocktitle {
  font-size: 75px;
  color: #00BAA0;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  body .fp-text-blocktitle {
    font-size: 32px;
  }
}

body .fp-text-blocksubtitle {
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  body .fp-text-blocksubtitle {
    font-size: 24px;
  }
}

body .fp-text-blocktext {
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  color: #333333;
}

@media (max-width: 992px) {
  body .fp-text-blocktext {
    font-size: 18px;
    line-height: 32px;
  }
}

body .fp-text-pink {
  font-size: 30px;
  color: #FF0A80;
  font-weight: 600;
}

@media (max-width: 1024px) {
  body .fp-text-pink {
    font-size: 19px;
  }
}

@media (max-width: 992px) {
  body .fp-text-pink {
    font-size: 22px;
  }
}

body .fp-title-footer {
  font-size: 30px;
  color: #333333;
}

@media (max-width: 1024px) {
  body .fp-title-footer {
    font-size: 25px;
  }
}

body .fp-text-footer {
  font-size: 24px;
  color: #333333;
  line-height: 38px;
  font-weight: 300;
}

@media (max-width: 992px) {
  body .fp-text-footer {
    font-size: 20px;
  }
}

body .fp-text-footer-bold {
  font-size: 24px;
  color: #333333;
  line-height: 38px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  body .container {
    max-width: 1400px;
  }
}

@media (mam-width: 576px) {
  body .container {
    max-width: 600px;
  }
}

body .about-block-1 {
  position: relative;
  padding-top: 0;
}

body .about-block-1-content {
  margin-top: 110px;
  padding: 0px 20px;
}

@media (max-width: 1200px) {
  body .about-block-1-content {
    margin-top: 30px;
  }
}

body .about-block-1 .fp-ring-wrapper {
  margin-top: 0px;
}

body .about-block-2-wrapper {
  max-width: 1500px;
}

body .about-block-2-title {
  font-size: 48px;
  color: #00BAA0;
}

@media (max-width: 992px) {
  body .about-block-2-title {
    font-size: 32px;
  }
}

body .about-block-2-subtitle {
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
  font-weight: 600;
}

@media (max-width: 992px) {
  body .about-block-2-subtitle {
    font-size: 24px;
  }
}

body .about-block-2-text {
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  color: #333333;
  max-width: 705px;
  padding-left: 10px;
}

@media (max-width: 992px) {
  body .about-block-2-text {
    font-size: 20px;
    line-height: 32px;
  }
}

body .about-block-3 {
  padding: 60px 0px;
}

body .about-block-3-wrapper {
  max-width: 1500px;
}

body .about-block-3-img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
}

@media (max-width: 992px) {
  body .about-block-3-img {
    width: 100%;
    margin-bottom: 20px;
  }
}

body .about-block-3-title {
  font-size: 48px;
  color: #00BAA0;
}

@media (max-width: 992px) {
  body .about-block-3-title {
    font-size: 32px;
  }
}

body .about-block-3-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 992px) {
  body .about-block-3-item {
    width: 100%;
  }
}

body .about-block-3-item img {
  width: 138px;
  height: 138px;
}

body .about-block-3-item p {
  margin-bottom: 0px;
  color: #333333;
  font-size: 24px;
}

@media (max-width: 992px) {
  body .about-block-3-item p {
    font-size: 18px;
  }
}

body .about-block-3-item p:first-of-type {
  color: #212845;
  font-size: 36px;
}

@media (max-width: 992px) {
  body .about-block-3-item p:first-of-type {
    font-size: 24px;
  }
}

body .about-block-4 {
  position: relative;
}

body .about-block-4-wrapper {
  margin-right: 120px;
}

body .about-block-4-list {
  position: relative;
}

body .about-block-4-list-title {
  font-size: 48px;
  color: #FF0A80;
}

@media (max-width: 992px) {
  body .about-block-4-list-title {
    font-size: 32px;
  }
}

body .about-block-4-list-text {
  font-size: 36px;
  color: #000000;
  font-weight: 400;
}

@media (max-width: 992px) {
  body .about-block-4-list-text {
    font-size: 24px;
  }
}

body .about-block-4-list-text span {
  color: #FF0A80;
  font-weight: 600;
}

body .about-block-4-img {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}

@media (max-width: 1850px) {
  body .about-block-4-img {
    display: none;
  }
}

body .about-block-4-img2 {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
  margin-left: -100px;
}

@media (max-width: 992px) {
  body .about-block-4-img2 {
    width: 100%;
    margin: 0 auto;
  }
}

body .consultant-block-1 .sub-title {
  font-size: 36px;
  color: #212845;
  font-weight: 500;
}

@media (max-width: 992px) {
  body .consultant-block-1 .sub-title {
    font-size: 32px;
  }
}

body .consultant-block-1 .content {
  font-size: 24px;
  color: #333333;
}

body .consultant-block-2-wrapper {
  margin-top: 100px;
  padding-right: 50px;
}

body .consultant-block-2 .list-item {
  max-width: 574px;
  height: auto;
  border: 2px #FF0A80 solid;
  border-radius: 20px;
  margin: 22px 0px;
  padding: 0px 10px;
  position: relative;
}

body .consultant-block-2 .list-item-text {
  font-size: 36px;
  color: #FFFFFF;
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

@media (max-width: 992px) {
  body .consultant-block-2 .list-item-text {
    font-size: 32px;
  }
}

body .consultant-block-2 .list-item-hint {
  font-size: 24px;
  color: #707070;
}

@media (max-width: 992px) {
  body .consultant-block-2 .list-item-hint {
    font-size: 20px;
  }
}

body .consultant-block-2 .list-item img {
  position: absolute;
  right: -40px;
  width: 48px;
  height: 48px;
}

body .site-map .container {
  margin-bottom: 150px;
}

body .site-map-title {
  font-size: 75px;
  font-weight: 300;
  color: #FF0A80;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  body .site-map-title {
    font-size: 40px;
  }
}

body .site-map-text {
  font-size: 48px;
  color: #FF0A80;
  font-weight: 300;
}

body .site-map-text a {
  color: #FF0A80;
  margin: 0px 20px;
  text-decoration: underline;
}

@media (max-width: 992px) {
  body .site-map-text a {
    font-size: 35px;
    margin-bottom: 10px;
  }
}

body .site-404-title {
  font-size: 200px;
  color: #FF0A80;
}

@media (max-width: 992px) {
  body .site-404-title {
    font-size: 75px;
    color: #FF0A80;
  }
}

body .fp-img005 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 992px) {
  body .fp-img005 {
    width: 100%;
  }
}

body .fp-fixed {
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 180px;
  right: 10px;
}

@media (max-width: 768px) {
  body .fp-fixed {
    bottom: 30px;
    left: 50%;
    top: auto;
    right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

body .fp-burger {
  background: none !important;
  border: none !important;
}

body .fp-icon {
  width: 100%;
}

@media (max-width: 992px) {
  body .fp-icon {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

body .damn-img {
  top: 538px;
}

@media (max-width: 1500px) {
  body .damn-img {
    top: 600px;
  }
}

@media (max-width: 1300px) {
  body .damn-img {
    top: 620px;
  }
}

@media (max-width: 992px) {
  body .damn-img {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */