body
    font-family: 'Noto Sans TC', sans-serif
    max-width: 1920px
    margin: 0 auto
    a:hover
        text-decoration: none
    .fp-navtop
        background: #ffffff
        .fp-navtop-wrapper
            max-width: 1500px
            margin: 0 auto
            min-height: 125px
            .fp-fubon-logo
                max-width: 250px
    .fp-nav-mobile
        width: 100%
        .fp-fubon-logo
            max-width: 120px
            height: 100%
        .fp-fubon-puff
            max-width: 180px
            height: 100%
    .fp-nav-mobile-collapse
        .fp-navbar-item
            display: block
            padding: 10px 20px
            color: #FF0A80
            background: #fefefe
            border-bottom: 1px solid #dddddd
            text-decoration: none
        .fp-fubon-logo
            max-width: 190px
            padding: 20px

    .fp-maintop
        min-height: 885px
        background: url("../img/bg/bg001.png")
        background-position: center top
        background-size: cover
        display: flex
        justify-content: center
        align-items: center
        @media (max-width:992px)
            min-height: 770px
            background-position: right top
            background: url("../img/bg/bg-m.png")
        &.fp-maintop-inner
            background: url("../img/bg/bg009.png")
            min-height: 710px
            background-size: cover
            @media (max-width:992px)
                min-height: 770px
                background-position: right top
                background: url("../img/bg/bg-m.png")
    .fp-title
        &-sub
            color: #FF0A80
            font-size: 30px
            margin-bottom: 10px
            text-align: justify
            letter-spacing: 12px
            @media (max-width:992px)
                font-size: 24px
                letter-spacing: 10px
        &-main
            color: #ffffff
            font-size: 75px
            margin-bottom: 15px
            @media (max-width:992px)
                font-size: 40px
        &-name
            color: #00C2A3
            font-size: 34px
            margin-bottom: 40px
            @media (max-width:992px)
                font-size: 25px
        &-text
            color: #ffffff
            font-size: 24px
            font-weight: 200
            line-height: 45px
            margin-bottom: 0px
            @media (max-width:992px)
                font-size: 20px
                line-height: 32px
            &-line
                color: #519633
                margin-left: 10px
                cursor: pointer
                img
                    margin-right: 10px
            &-fb
                color: #2995CC
                margin-left: 10px
                cursor: pointer
                img
                    margin-right: 10px
    .fp-list
        list-style: none
        padding: 0
        margin-top: 35px
        &-item
            color: #ffffff
            font-size: 28px
            font-weight: 600
            display: block
            max-width: 260px
            background: linear-gradient(270deg, rgba(255,10,128,0) 0%, rgba(255,10,128,1) 100%)
            margin: 10px 0
            padding: 5px 20px
            a
                color: #ffffff

    .fp-navbar
        background: #FF0A80
        .fp-navbar-item
            color: #333333
            font-size: 28px
            padding: 18px 36px
            border-right: 2px solid #333333
            transition: .3s ease-in
            &:hover
                text-decoration: none
                background: #ff3194
            &.active
                color: #ffffff
            &:last-child
                border-right: none

    .fp-footer
        padding: 30px 0 0
        background: url("../img/bg/bg003.png")
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        @media (max-width:992px)
            padding: 50px 0
        .fp-footer-wrapper
            max-width: 1500px
            margin: 0 auto
            position: relative
            &::after
                content: ""
                position: absolute
                bottom: 0
                left: 0
                width: 800px
                height: 760px
                display: block
                background: url("../img/img/img-004.png")
                @media ( max-width: 1024px)
                    left: -65px
                    width: 700px
                    height: 690px
                @media (max-width:992px)
                    display: none
    .fp-copyright
        background: #ff3194
        &-text
            text-align: center
            color: #ffffff
            font-size: 24px
            margin-bottom: 0
            padding: 15px

    .fp-block
        padding: 60px 0
        &.fp-bg-1
            min-height: 1000px
            background: url("../img/bg/bg002.png")
            background-position: center bottom
            background-size: cover
            @media (max-width:992px)
                min-height: auto
                background: url("../img/bg/bg004.png")
        &.fp-bg-2
            padding: 30px 0
            background-color: #212845
            .row
                min-height: 550px
            .fp-img-003
                position: relative
                &::after
                    content: ""
                    position: absolute
                    top: 0
                    left: -45%
                    transform: translateY(-25%)
                    width: 830px
                    height: 704px
                    display: block
                    background: url("../img/img/img-003.png")
                    @media (max-width:768px)
                        display: none
        &.fp-bg-3
            background-color: #ebeaeb
        &.fp-bg-4
            background: url("../img/bg/bg004.png")
            padding-bottom: 100px
        &.fp-bg-5
            background: url("../img/bg/bg007.png")
            background-size: cover
            padding: 100px 0 150px
            @media (max-width:992px)
                padding: 60px 0
        &.fp-bg-8
            background: url("../img/bg/bg008.png")
            padding-bottom: 160px
    .fp-bg-6
        background: #b6b6b64d
    .fp-bg-7
        background: #2995cc63

    .fp-ring-wrapper
        max-width: 1500px
        margin: 50px auto
        @media ( max-width: 1024px )
            max-width: 700px
            margin: 19px auto
        .fp-ring-item
            width: 200px
            height: 200px
            background: #ffffff
            border: 4px solid#FF0A80
            border-radius: 99rem
            font-size: 34px
            font-weight: 600
            color: #333333
            display: flex
            justify-content: center
            align-items: center
            @media (max-width:1200px)
                width: 180px
                height: 180px
                font-size: 22px
                margin: 10px

    // --------------platformInfo----------
    .fp-plat
        &-title
            color: #FF0A80
            font-size: 60px
            margin-bottom: 0
            margin: 0 20px
            @media (max-width:992px)
                font-size: 32px
                margin: 0 10px
        &-icon
            width: fit-content
            height: fit-content
        &-text
            font-size: 24px
            color: #333333
            line-height: 40px
            margin: 10px 0
            @media (max-width:992px)
                font-size: 18px
                line-height: 30px
        &-list-text
            font-size: 24px
            font-weight: 300
            margin-bottom: 12px
            @media (max-width:992px)
                font-size: 18px
                line-height: 30px
            p
                font-weight: 500
                margin-bottom: 10px
                @media (max-width:992px)
                    font-size: 18px
                    line-height: 30px
        &-img
            width: 100%
            @media (max-width:992px)
                margin-bottom: 20px
        &-list-icon
            margin-right: 20px
            @media (max-width:992px)
                margin: 20px
        &-list-icon-text
            font-size: 20px
            font-weight: 300
            p
                font-weight: 500

    // --------------btn-------------------
    .fp-button
        display: flex
        justify-content: center
        align-items: center
        background: #ffffff
        border: 3px solid #FF0A80
        border-radius: 20px
        padding: 10px 20px
        cursor: pointer
        p
            font-size: 24px
            color: #FF0A80
            letter-spacing: 2px
            margin-bottom: 0px
        div:first-child
            min-width: 24px
            height: 20px
            background: no-repeat url(../img/icon/arrow-pink.svg)
            margin-right: 13px
        div:last-child
            min-width: 26px
            height: 25px
            background: no-repeat url(../img/icon/line_pink.svg)
            margin-left: 11px
        &:hover
            background: #519633
            border-color: #519633
            p
                margin-bottom: 0px
                color: #ffffff
            div:first-child
                min-width: 24px
                height: 20px
                background: no-repeat url(../img/icon/arrow-white.svg)
                margin-right: 13px
            div:last-child
                min-width: 26px
                height: 25px
                background: no-repeat url(../img/icon/line_white.svg)
                margin-left: 11px
    .fp-button-1
        padding: 5px 25px
        border: 1px solid #FF0A80
        border-radius: 99rem
        color: #FF0A80
        font-size: 24px
        @media (max-width:992px)
            font-size: 18px
        &:hover
            background: #FF0A80
            color: #ffffff
    // --------------text-------------------

    .fp-text-blocktitle
        font-size: 75px
        color: #00BAA0
        margin-bottom: 20px
        @media (max-width:1200px)
            font-size: 32px

    .fp-text-blocksubtitle
        font-size: 36px
        color: #333333
        margin-bottom: 20px
        @media (max-width:992px)
            font-size: 24px

    .fp-text-blocktext
        font-size: 24px
        line-height: 40px
        font-weight: 300
        color: #333333
        @media (max-width:992px)
            font-size: 18px
            line-height: 32px

    .fp-text-pink
        font-size: 30px
        color: #FF0A80
        font-weight: 600
        @media (max-width:1024px)
            font-size: 19px
        @media (max-width:992px)
            font-size: 22px

    .fp-title-footer
        font-size: 30px
        color: #333333
        @media (max-width:1024px)
            font-size: 25px

    .fp-text-footer
        font-size: 24px
        color: #333333
        line-height: 38px
        font-weight: 300
        @media (max-width:992px)
            font-size: 20px
        &-bold
            font-size: 24px
            color: #333333
            line-height: 38px
            font-weight: 600

    // --------------container-------------------

    @media (min-width: 1200px)
        .container
            max-width: 1400px

    @media (mam-width: 576px)
        .container
            max-width: 600px

    // --------------about us---------------------
    .about
        &-block-1
            position: relative
            padding-top: 0
            &-content
                margin-top: 110px
                padding: 0px 20px
                @media(max-width: 1200px)
                    margin-top: 30px
            .fp-ring-wrapper
                margin-top: 0px
        &-block-2
            &-wrapper
                max-width: 1500px
            &-title
                font-size: 48px
                color: #00BAA0
                @media (max-width: 992px)
                    font-size: 32px
            &-subtitle
                font-size: 36px
                color: #333333
                margin-bottom: 20px
                font-weight: 600
                @media (max-width: 992px)
                    font-size: 24px
            &-text
                font-size: 24px
                line-height: 40px
                font-weight: 300
                color: #333333
                max-width: 705px
                padding-left: 10px
                @media (max-width: 992px)
                    font-size: 20px
                    line-height: 32px
        &-block-3
            padding: 60px 0px
            &-wrapper
                max-width: 1500px
            &-img
                max-width: fit-content
                height: 100%
                @media (max-width: 992px)
                    width: 100%
                    margin-bottom: 20px
            &-title
                font-size: 48px
                color: #00BAA0
                @media (max-width: 992px)
                    font-size: 32px
            &-item
                display: flex
                flex-direction: column
                align-items: center
                text-align: center
                @media (max-width: 992px)
                    width: 100%
                img
                    width: 138px
                    height: 138px
                p
                    margin-bottom: 0px
                    color: #333333
                    font-size: 24px
                    @media (max-width: 992px)
                        font-size: 18px
                    &:first-of-type
                        color: #212845
                        font-size: 36px
                        @media (max-width: 992px)
                            font-size: 24px
        &-block-4
            position: relative
            &-wrapper
                margin-right: 120px
            &-list
                position: relative
                &-title
                    font-size: 48px
                    color: #FF0A80
                    @media (max-width: 992px)
                        font-size: 32px
                &-text
                    font-size: 36px
                    color: #000000
                    font-weight: 400
                    @media (max-width: 992px)
                        font-size: 24px
                    span
                        color: #FF0A80
                        font-weight: 600
            &-img
                position: absolute
                left: 0
                bottom: 0
                display: block
                @media (max-width: 1850px)
                    display: none
            &-img2
                max-width: fit-content
                height: 100%
                margin-left: -100px
                @media (max-width: 992px)
                    width: 100%
                    margin: 0 auto

    // --------------consultant-------------------
    .consultant
        &-block-1
            .sub-title
                font-size: 36px
                color: #212845
                font-weight: 500
                @media (max-width:992px)
                    font-size: 32px
            .content
                font-size: 24px
                color: #333333
        &-block-2
            &-wrapper
                margin-top: 100px
                padding-right: 50px
            .list-item
                max-width: 574px
                height: auto
                border: 2px #FF0A80 solid
                border-radius: 20px
                margin: 22px 0px
                padding: 0px 10px
                position: relative
                &-text
                    font-size: 36px
                    color: #FFFFFF
                    font-weight: 500
                    margin: 0px 0px 5px 0px
                    @media (max-width:992px)
                        font-size: 32px
                &-hint
                    font-size: 24px
                    color: #707070
                    @media (max-width:992px)
                        font-size: 20px
                img
                    position: absolute
                    right: -40px
                    width: 48px
                    height: 48px
    // --------------site map-------------------
    .site-map
        .container
            margin-bottom: 150px
        &-title
            font-size: 75px
            font-weight: 300
            color: #FF0A80
            margin-bottom: 20px
            @media (max-width:992px)
                font-size: 40px
        &-text
            font-size: 48px
            color: #FF0A80
            font-weight: 300
            a
                color: #FF0A80
                margin: 0px 20px
                text-decoration: underline
                @media (max-width:992px)
                    font-size: 35px
                    margin-bottom: 10px
    
    .site-404-title
        font-size: 200px
        color: #FF0A80
        @media (max-width:992px)
            font-size: 75px
            color: #FF0A80


    .fp-img005
        width: fit-content
        height: fit-content
        @media (max-width: 992px)
            width: 100%

    .fp-fixed
        position: fixed
        flex-direction: column
        top: 180px
        right: 10px
        @media (max-width: 768px)
            bottom: 30px
            left: 50%
            top: auto
            right: auto
            flex-direction: row
            transform: translateX(-50%)
    .fp-burger
        background: none !important
        border: none !important

    .fp-icon
        width: 100%
        @media (max-width: 992px)
            width: fit-content
    .damn-img
        top: 538px
        @media (max-width: 1500px)
            top: 600px
        @media (max-width: 1300px)
            top: 620px
        @media (max-width: 992px)
            display: none
